@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic');

.wrapper-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.add-text {
  display: block;
  margin-top: 25px;
  box-sizing: border-box;
  padding-left: 3px;
  padding-right: 3px;
}

.add-text:focus {
  border: 1px solid rgb(172, 38, 38);
}

.create-text {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.create-text:hover {
  background-position: 0 100%;
  cursor: pointer;
}

.action-wrapper:first-child {
  margin-top: 35px;
}

.action-wrapper {
  padding: 15px;
  font-size: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;

}

.action-wrapper > * {
  display: flex;
  justify-content: center;
}

input[type="checkbox"] {
  display: flex;
  margin: 0;
  transform: translate(17px, 8px);
  width: 20px;
  height: 20px;
}

.action-wrapper__done {
  background-color: rgb(24, 226, 41);
}

.action-wrapper__not-done {
  background-color: rgb(184, 63, 63);
}